// colors from https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f
$eggshell: #f4f1deff;
$burnt-sienna: #e07a5fff;
$delft-blue: #3d405bff;
$cambridge-blue: #81b29aff;
$sunset: #f2cc8fff;
// Add floralwhite and #282828

// fonts
$sans: Helvetica, Arial, sans-serif;
$serif: Georgia, Times, serif;
