@use 'variables' as vari;

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px; 
    padding-left: 10%;
    background-color: vari.$delft-blue;
    color: floralwhite;

    a {
        color: inherit;
    }
}
