@use 'variables' as vari;

#how-to {
    h2 {
        width: 75%;
        margin: 30px auto;
    }

    p {
        width: 75%;
        margin: 60px auto;
        line-height: 1.5;
    }

    background-color: vari.$sunset;
}

#matching-chord-progs {
    width: 85%;
    margin: 20px auto;
    padding: 10px;
    background-color: vari.$eggshell;
}

#gen-chords {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 60%;
    margin: 20px auto;
    padding: 10px;
    background-color: vari.$eggshell;
}
